.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.gcode, .svg {
	width: 49%;
	display: inline-block;
}

.svg {
	background-color: #fafafa;
}

.grid-major {
	stroke-width: 2px;
	stroke: rgba(25, 52, 65, 0.25);
}