.container {
	width: 30rem;
	position: absolute;
	background-color: rgba(252, 255, 245, 0.85);
	padding: 0.5rem;
	border: 1px solid black;
}

svg {
	background-color: #fafafa;
	height: 100%;
	width: 100%;
}

.grid-major {
	stroke-width: 3px;
	stroke: rgba(25, 52, 65, 0.25);
	fill: none;
}

.toolpath {
	stroke-width: 1px;
	stroke: rgba(145, 170, 157, 1);
}